.DS_Store
venv/
deletemigrations.sh
makemigrations.sh
__pycache__/
.swp
*.pyc
__pycache__/
migrations
.idea/
db.sqlite3
db.json
env/
.idea
migrate.sh
.vscode
.output
.idea
static_cdn/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
dump.rdb
celerybeat-schedule
celerybeat.pid
.read
data.json
data.psql
database.db
extract.json
schema.psql
log/
migrate.sh.swp
media